// feature-top

#feature-top h1{
    margin-bottom: .5em;
}

#feature-top h2{
    font-family: $font-light, Times, serif;
    color: $brand-color-1;
    text-align: left;
    text-transform: none;
}

#feature-top {
    background: $feature-top-background-color;
}

#feature-top article p, #feature-top article ul {
    color: $feature-top-color;
    font-family: $font-light, Times, serif;
}

#feature-top article ul {
    margin-left: 2.5em;
    margin-bottom: 1em;
}

#feature-top article ul > li{
    list-style: disc;
    font-size: 1em;
    line-height: 1.25em;
}

#feature-top article {
    padding: 1.5em 1em 1.5em .5em;
}

#feature-top article img {
    height: 60px;
    margin: 10px 10px 0 0;
}

.feature-image-container img {
    max-width: none;
}

.feature-image-container {
    height: 350px;
}

#feature-top .logo-wrapper {
    text-align: center;
}

@media screen and (min-width: 1000px){
    .feature-image-container {
        width: 48.5%;
        float: left;
    }

    #feature-top article {
        float: right;
        width: 51.5%;
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (min-width: 1400px){
    header article span {
        font-size: 1.75em;
    }

    #feature-top article p, #feature-top article ul > li{
        font-size: 1em;
    }

    header {
        // padding: 1em 7em 0;
    }
}

@media screen and (min-width: 1500px){

    #feature-top article {
        margin-top: .55em;
    }

    #feature-top article p, #feature-top article ul > li{
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1750px){

    #feature-top article {
        margin-top: 1.5em;
    }

    #feature-top article p, #feature-top article ul > li{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1950px){

    #feature-top article {
        // margin-top: 3em;
    }

}