/* footer.scss */

footer {
    text-align: center;
    font-family: $font-regular, Arial, Helvetica, sans-serif;
    color: #fff;

    span a{
        color: #fff;
        text-decoration: none;
    }

    #number-wrapper {
        margin-top: 1em;

        #footer-ph {
            color: $brand-color-1;
            font-family: $font-bold;
            font-size: 2.5em;
        }
    }

    #aux-content {

        img{
            width: 35px;
            margin: .5em .5em 0 0;
        }

        span{
            display: block;
            padding: .2em 0;
        }
    }
}

@media screen and (min-width: 1000px){
    #address-wrapper, #number-wrapper{
        float: left;
        text-align: left;
    }

    #aux-content {
        clear: right;
        float: right;
        margin-top: -1.2em;
        text-align: right;
    }

    #address-wrapper span,
    #number-wrapper span,
    #aux-content span{
        display: inline;
        font-size: .8em;
    }

    #aux-content span {
        margin-right: 1em;
        position: relative;
        top: -30px;
    }
}

@media screen and (min-width: 1400px){
    footer {
        padding: 1.5em;
    }
}
