#pre-footer #sub-content, footer {
    padding: 1.5em 1em 1.5em .5em;
}
#pre-footer .tel-link {
    color: #000000;
    text-decoration: none;
}

#pre-footer .wrapper {
    background: #FFFFFF;
}

#map-canvas {
    height: 300px;
    position: relative;
}