#pre-footer{
    width: 100%;
    height: 100%;
    padding: 0;

    .wrapper {
        background: #FFFFFF;
        position: relative;

        #map-canvas {
            max-width: 100%;
            height: 400px;
            position: relative;
        }
    }
}


