/*  property-features.scss  */

#property-features {
    background: $brand-color-3;
    line-height: 0;
    font-family: $font-light, Verdana,Arial,sans-serif;
    h2 {
        color: #fff;
        background: $brand-color-2;
        padding: 1.75em 0px;
        margin-bottom: 0;
    }
    .fancy span:before, .fancy span:after {
        border-top: 1px solid #fff;
    }
    #community-features {
        color: $main-text-color;
        line-height: 1.5;
        padding: 1.5em;
        h3 {
            color: $brand-color-1;
            font-family: $font-bold;
        }
        ul{
            color: $main-text-color;
            margin: 1em;
            li{
                font-family: $font-light, Verdana,Arial,sans-serif;
                list-style: disc;
            }
        }
        .disclaimer {
            display: block;
            margin:1em 0;
        }
    }
    #photo-grid {
        text-align: center;
        background: #fff;
        #grid-img-1, #grid-img-2 {
            float: none;
            margin: 0;
            padding: 0;
        }
        #grid-img-3 {
            width: 100%;
            text-align: center;
            background-color: $floor-plan-background-color;
            img {
                padding: 40px 0;
            }
        }
        .floorplan {
            background-color: $floor-plan-background-color;
            font-family: $font-bold;
            color: $main-text-color;
            text-align: center;
            .last {
                padding-bottom: 2em;
            }
        }
    }
    @media screen and ( min-width: 600px ){
        #community-features{
            padding: 1em 3em 0;
            ul {
                margin: 0 2em 1em;
            }
        }
    }
    @media screen and ( min-width: 1000px ){
        #community-features{
            float:left;
            width: 48.5%;
            font-size: 1.1em;
            padding: .5em 1em .5em 2.5em;
            line-height: 1.5;
            ul {
                margin: 0;
            }
        }
        #photo-grid{
            float: right;
            width: 51%;
            text-align: left;
            #grid-img-1 {
                float: left;
                margin-top: 0;
                width: 49.5%;
            }
            #grid-img-2 {
                float: right;
                margin: 0;
                width: 49.5%;
            }
            #grid-img-3 {
                clear: both;
            }
        }
    }
    @media screen and ( min-width: 1200px ){
        #community-features {
            padding: 1em 3em 0;
            h3 {
                font-size: 1.6em;
            }
            ul {
                margin: 0 2em 1em;
            }
        }
    }
    @media screen and (min-width: 1400px){
        #community-features li{
            font-size: 1.2em;
        }
    }
    @media screen and (min-width: 1750px){
        #community-features li{
            font-size: 1.3em;
        }
    }
    @media screen and (min-width: 2000px){
        #community-features li{
            font-size: 1.5em;
        }
        #grid-img-3 img {
            width: 60%;
        }
    }
}


