// variables.scss

$font-regular: 'Montserrat-Regular';
$font-light: 'Montserrat-Light';
$font-bold: 'Montserrat-Bold';

$color-green: #c5e86c;

$feature-top-background-color: #000000;
$feature-top-color: #ffffff;

$form-background-color: $color-green;
$form-color: #000000;

$form-button-background-color: $feature-top-background-color;
$form-button-color: #ffffff;