// variables.scss

$font-regular: 'Montserrat-Regular';
$font-light: 'Montserrat-Light';
$font-bold: 'Montserrat-Bold';

$brand-color-1: #c5e86c;
$brand-color-2: #000000;
$brand-color-3: #ffffff;

$main-text-color: #333333;
$alternative-text-color: #ffffff;

$floor-plan-background-color: #EDEDED;

$feature-top-background-color: $brand-color-2;
$feature-top-color: $alternative-text-color;

$form-background-color: $brand-color-1;
$form-color: $brand-color-2;

$form-button-background-color: $brand-color-2;
$form-button-color: $alternative-text-color;

$property-feature-header-color:$brand-color-1;

