// thank-you.scss

#thank-you {
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        flex: 1;
        h1 {
            font-size: 2em;

        }
        h2 {
            margin-top: 2em;
            color: #fff;
            font-size: 1.3em;
        }
    }
    @media screen and ( min-width: 1000px ){
        article {
            h1 {
                font-size: 3em;
            }
            h2 {
                font-size: 1.8em;
            }
        }
    }
}