// pre-footer.scss

#pre-footer{
    width: 100%;
    padding: 0;
    .wrapper {
        width: 100%;
        background: #FFFFFF;
        position: relative;
        #map-canvas {
            max-width: 100%;
            height: 300px;
            position: relative;
        }
    }
}


